<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WIN.SCHEDULING_APP.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WIN.SCHEDULING_APP.GUI.Properties.Settings>
            <setting name="Main_AppName" serializeAs="String">
                <value>Agenda</value>
            </setting>
            <setting name="Main_AppStyleName" serializeAs="String">
                <value>iMaginary</value>
            </setting>
            <setting name="Main_StartCommand" serializeAs="String">
                <value>Home</value>
            </setting>
            <setting name="Main_MaxResult" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Main_Province" serializeAs="String">
                <value />
            </setting>
            <setting name="Main_Comune" serializeAs="String">
                <value />
            </setting>
            <setting name="Main_DeadlineDaysBefore" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Main_Calendar_ViewType" serializeAs="String">
                <value>Giornaliera</value>
            </setting>
            <setting name="Main_CalendarSubject" serializeAs="String">
                <value>Appuntamento</value>
            </setting>
            <setting name="Main_ProductionEnvironment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Main_ViewTaskDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Main_TaskSubject" serializeAs="String">
                <value>Attività</value>
            </setting>
            <setting name="Main_MarkActivityCompletedafterDragDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Main_AskIfActivityMustbeMarkedAsCompleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Main_RenewActivityAfterDragDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Main_AskIfRenewActivityAfterDragDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Main_DaysOfRenewTask" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Main_ActivateTaskPanelOnCalendar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Main_OtherApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Main_CalendarGroupType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Main_FillAppointmentLocationWithCustomerAddress"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Main_StartInitialSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Main_InsertJolly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Main_DocumentDefaultSubject" serializeAs="String">
                <value>Oggetto documento</value>
            </setting>
            <setting name="Main_PreviewDocument" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Main_LastBack" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
            <setting name="Main_ProtocolStrategy" serializeAs="String">
                <value>Progressive</value>
            </setting>
            <setting name="Main_PanelCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Main_ShowOnlyAgendaFunctions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Main_Nazione" serializeAs="String">
                <value />
            </setting>
            <setting name="Main_ZoomTemporale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Main_ZoomSpaziale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="networkdomain" serializeAs="String">
                <value>169.254.0.20</value>
            </setting>
            <setting name="networkpassword" serializeAs="String">
                <value>fenealuil13</value>
            </setting>
            <setting name="networkusername" serializeAs="String">
                <value>protocollo</value>
            </setting>
        </WIN.SCHEDULING_APP.GUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
