*Sottosistema di persistenza da istanziare*
PersistenceService
WIN.SCHEDULING_APPLICATION.PERSISTENCE.dll

*Classe di facciata che offre tutti i servizi per la persistenza nel sottosistema istanziato*
PersistenceFacadeService
WIN.SCHEDULING_APPLICATION.PERSISTENCE.PersistenceFacade


*Numero di elementi conservati nella cache*
MaxCacheSize
500

*Stringa di connessione*
ConnectionString
Data Source=.\NOESIS;Initial Catalog=App;Persist Security Info=True;User ID=RegUsr; Timeout=30;


*Tipo di servizio
ServiceName
MsSqlServer2005