*Sottosistema di persistenza da istanziare*
PersistenceService
WIN.SCHEDULING_APPLICATION.PERSISTENCE.dll

*Classe di facciata che offre tutti i servizi per la persistenza nel sottosistema istanziato*
PersistenceFacadeService
WIN.SCHEDULING_APPLICATION.PERSISTENCE.PersistenceFacade


*Numero di elementi conservati nella cache*
MaxCacheSize
0

*Stringa di connessione*
ConnectionString
Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DirPath|\AccessDB\App.mdb;


*Tipo di servizio
ServiceName
MsAccess

