<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="WIN.FENEAL_NAZIONALE.IMPORT_IMPEGNI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup><applicationSettings>
        <WIN.FENEAL_NAZIONALE.IMPORT_IMPEGNI.Properties.Settings>
            <setting name="WIN_FENEAL_NAZIONALE_IMPORT_IMPEGNI_localhost_SharetopIntegration" serializeAs="String">
                <value>https://www.fenealweb.it/servizi/WebServices/SharetopIntegration.asmx</value>
            </setting>
        </WIN.FENEAL_NAZIONALE.IMPORT_IMPEGNI.Properties.Settings>
    </applicationSettings>
</configuration>
